fastapi
uvicorn[standard]
pydantic              
httpx                 
sqlalchemy            
databases             
asyncpg               
alembic               
jinja2                
passlib[bcrypt]       
python-multipart      
